<div id="promoCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?q=80&w=2070" class="d-block w-100" style="height: 400px; object-fit: cover;" alt="Promoção 1" >
                <div class="carousel-caption d-none d-md-block">
                    <h5>Combo Família</h5>
                    <p>Duas pizzas grandes + Refri com 20% de desconto.</p>
                </div>
            </div>
            </div>
    </div>





<div class="container my-5">
        <h2 class="text-center mb-4">Sugestões do Chef</h2>
        <div class="row">





            <div class="col-md-4 mb-4">
                <div class="card pizza-card h-100">
                    <img src="https://media.istockphoto.com/id/1414575281/pt/foto/a-delicious-and-tasty-italian-pizza-margherita-with-tomatoes-and-buffalo-mozzarella.jpg?s=612x612&w=0&k=20&c=O8k3YJ4EDOQGVc84fysplOSYUiqmUd43oAxgH4dvMZI=" class="card-img-top" alt="Pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color:#e74c3c">Margherita Speciale</h5>
                        <p class="card-text">Mussarela de búfala, tomate pelati e manjericão fresco.</p>
                        <h6 class="text-danger">R$ 45,90</h6>
                        <a href="#" class="btn btn-outline-danger">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card pizza-card h-100">
                    <img src="https://plus.unsplash.com/premium_photo-1661762555601-47d088a26b50?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8cGl6emF8ZW58MHx8MHx8fDA%3D" alt="Pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color:#e74c3c">Calabresa Gourmet</h5>
                        <p class="card-text">Calabresa artesanal, cebola roxa e azeitonas pretas.</p>
                        <h6 class="text-danger">R$ 35,90</h6>
                        <a href="#" class="btn btn-outline-danger">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card pizza-card h-100">
                    <img src="https://media.istockphoto.com/id/2197076618/pt/foto/chocolate-pizza.webp?a=1&b=1&s=612x612&w=0&k=20&c=fCy-mST21PuslcXUoo9rFry3sijJ355vSSfCREYV2jc=" class="card-img-top" alt="Pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color:#e74c3c">Pizza dece: Nutella com Avelã</h5>
                        <p class="card-text">Creme de Nutella original com pedaços de avelãs torradas.</p>
                        <h6 class="text-danger">R$ 40,50</h6>
                        <a href="#" class="btn btn-outline-danger">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mb-4">
                <div class="card pizza-card h-100">
                    <img src="https://media.istockphoto.com/id/479474224/pt/foto/tapioca.jpg?s=612x612&w=0&k=20&c=RyECXBR30VOjI-CkQVo05T5V4OA0W1OzC7KIrpu7dqY=" class="card-img-top" alt="Pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color:#e74c3c">Pizza de Tapioca</h5>
                        <p class="card-text">Lombo canadense, queijo coalho gratinado e tomate seco.</p>
                        <h6 class="text-danger">R$ 42,90</h6>
                        <a href="#" class="btn btn-outline-danger">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card pizza-card h-100">
                    <img src="https://media.istockphoto.com/id/2023102269/pt/foto/pizza-topped-with-fresh-basil-tomato-and-cheese-on-top-of-wooden-platter.jpg?s=612x612&w=0&k=20&c=6E1WroSOoOw2b8UX0okpCyFxmGO7DUnw2J4w54awdBI=" class="card-img-top" alt="Pizza">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color:#e74c3c">Napolitana Clássica</h5>
                        <p class="card-text">Molho de tomate, parmesão, alho laminado e manjericão.</p>
                        <h6 class="text-danger">R$ 47,50</h6>
                        <a href="#" class="btn btn-outline-danger">Adicionar ao Carrinho</a>
                    </div>
                </div>
            </div>






        <!-- {% for pizza in pizzas %}
        <div class="col-md-4 mb-4">
            <div class="card pizza-card h-100">
                <img src="{{ pizza.imagem }}" class="card-img-top" alt="{{ pizza.nome }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ pizza.nome }}</h5>
                    <p class="card-text">{{ pizza.descricao }}</p>
                    <h6 class="text-danger">R$ {{ pizza.preco }}</h6>
                    <a href="#" class="btn btn-outline-danger">Adicionar ao Carrinho</a>
                </div>
            </div>
        </div>
        {% endfor %} -->

        </div>
    </div>    




    


